#profile-page {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
}

.card {
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
}

.card-title {
  font-weight: bold;
  color: #343a40;
}

#profile-image {
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}

#profile-image:hover {
  transform: scale(1.1);
}

.form-label {
  font-weight: bold;
  color: #495057;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e9ecef;
}

.table {
  margin-bottom: 0;
}

.text-center {
  text-align: center !important;
}

.mt-5, .my-5 {
  margin-top: 3rem !important;
}

.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.rounded-circle {
  border-radius: 50%!important;
}

.border {
  border: 1px solid #dee2e6!important;
}

  #profile-page .card {
    overflow-x: auto;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table thead th {
    white-space: nowrap;
  }

  .table tbody td {
    white-space: nowrap;
  }
